x# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Data / datasets
data/
**/data/
src/data/
datasets/
**/FashionMNIST/
**/MNIST/

# Outputs / experiments
experiments/results/
runs/
*.csv
*.png

# venv
venv/
.env/

